# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Csharp Basics Project.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Oleg\UnityStudy\Csharp_basics_Unity\Csharp_basics_Unity\Csharp Basics Project\.idea\.idea.Csharp Basics Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
